.Rproj.user
.Rhistory
.Rproj
.RData
".Rproj.user/" 
".Rhistory" 
.Rproj.user/

# Ignore specific folders containing large files (shapefiles, rasters)
Data/Primary Data/worldclim/
Data/Primary Data/_worldclim/
Data/Primary Data/_worldclim-Meu_Dell/
Data/Primary Data/mammals_polygons/
Data/Primary Data/SA/

# Ignore R environment and history files
*.RData
!Data/Secondary Data/pam_SA.RData
Figures/Relationships_env_SA/Es_env_relationships_ALL_VARS.tif
